div {
	background-color: burlywood;
}

table {
	width: 100%;
	border-spacing: 0 10px;
}

th {
	text-align: left;
	background-color: #9cb1fd;
}
th,
td {
	padding: 15px;
}
tr {
	outline: thin solid #d7d7d7;
}
